body {
	font-family: "微软雅黑","Microsoft Yahei","Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	font-weight: 500;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;
	min-width: 1200px;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #FFF;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.alink{
	color: #00cda2;
	font-size: 23px;
}
.alink:hover{
	color: #00dcaf;
}
.btn-success {
	color: #fff;
	background-color: #00cda2;
	border-color: #00cda2;
}

.btn-success:focus,
.btn-success.focus {
	color: #fff;
	background-color: #00dcaf;
	border-color: #00dcaf;
}

.btn-success:hover {
	color: #fff;
	background-color: #00dcaf;
	border-color: #00dcaf;
}

.btn-success:active,
.btn-success.active,
.open> .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #00dcaf;
	border-color: #00dcaf;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open> .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open> .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open> .dropdown-toggle.btn-success.focus {
	color: #fff;
	background-color: #00dcaf;
	border-color: #00dcaf;
}

.btn-success:active,
.btn-success.active,
.open> .dropdown-toggle.btn-success {
	background-image: none;
}
.headerDark {
	background: #000;
}

header {
	padding: 10px 0 5px;
	overflow: hidden;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	background: rgba(255, 255, 255, .95);
	border-color: transparent;
	transition: border .5s;
	-webkit-transition: border .5s;
	-moz-transition: border .5s;
}

header .logo {
	width: 125px;
	margin: 0;
	float: left;
	/*margin-left: 135px;*/
}

header .logo img {
    max-width: 106%;
    margin-bottom: 3px;
}

header nav {
	float: right;
	overflow: hidden;
	margin-top: 11px;
}

header nav ul li {
	float: left;
	margin: 0 0 0 20px;
	font-size: 17px;
	position: relative;
}

header nav ul li a.active {
	color: #FFF;
	border-bottom: 1px solid #FFF;
}

header nav ul li a {
	color: #DADBDC;
	display: block;
	line-height: 1;
	padding: 4px;
}
.btnPlay img{
	width: 35px;
	cursor: pointer;
}
.authentication {
	float: right;
	margin-left: 40px;
	position: relative;
	margin-top: -9px;
    z-index: 3;
}

.authentication li {
	float: left;
	margin-left: 20px;
	margin-top: 13px;
	line-height: 24px;
	font-size: 12px;
}
.authentication li a{
	color: #DADBDC;
}
.authentication li a:hover{
	color: #FFF;
}

.mainHome {
	margin-top: -16px;
}

.videoSec {
	position: relative;
	background: url(../img/topbanner.png) no-repeat;
	background-size: cover;
}

.videoSec video {
	margin: -2px 0;
}

.videoSec .videoCon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.tableDisplay {
	display: table;
	height: 100%;
	width: 100%;
}

.downDisplay {
	height: 100px;
	background-color: rgba(45, 45, 46, 0.7);
	margin-top: -98px;
}

.downDisplay a button {
	width: 200px;
	height: 45px;
	margin-top: 30px;
}
.downDisplay a:nth-child(2) button{
	margin-left: 30px;
}
.downDisplay a button img {
	margin-top: -5px;
}

.vCenter {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 150px;
}

.vCenter .des {
	margin-top: 25px;
	margin-bottom: 45px;
	color: #f5f6f7;
	font-size: 20px;
}
.vCenter .des  p {
    font-size: 20px;
    line-height: 35px;
    margin: 0 0 0px;
}

.videoSec h1 {
	font-size: 50px;
	color: #FFF;
	margin: -100px 0 25px;
	display: inline-block;
	/*text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);*/
	width: 100%;
}

.bgPattern {
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -1px;
}

.oneFeature-mobile {
	background-color: #EEE;
	padding-top: 120px;
	padding-bottom: 120px;
}
.oneFeature-mobile h3{
	color: #5fdab5;
	font-size:  26px;
}
.oneFeature-mobile p{
	color: #757575;
	font-size:  14px;
}

.oneFeature{
	background-color: #EEE;
	padding-top: 120px;
	padding-bottom: 120px;
}
.oneFeature h3{
	color: #5fdab5;
	font-size:  26px;
	 margin-bottom: 28px;
}
.oneFeature p{
	color: #757575;
	font-size:  14px;
}

.twoThree {
	background-color: #EEE;
	padding-top: 85px;
	padding-bottom: 85px;
	text-align: center;
}
.twoThree h3 {
	color: #414141 ;
	text-transform: uppercase;
    font-size: 2.25em;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: .75em;
}
.twoThree h4 {
	margin-top: 25px;
	color: #4A4A4A;
}
.twoThree .des{
	margin: 60px 0 60px 0; color: #797979; font-size: 20px;
}

.fourCase {
	background-image: url(../img/casebg.jpg);
	padding-top: 85px;
	padding-bottom: 85px;
	text-align: center;
}
.fourCase h3 {
	color: #414141 ;
	text-transform: uppercase;
    font-size: 2.25em;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: .75em;
}

.fourCase h4 {
	margin-top: 25px;
	margin-bottom: 70px;
	color: #9E9E9E;
	font-size: 20px;
}
.fourCase img {
	margin-bottom: 20px;
	width: 95%;
}
.fourCase p{
	line-height: 31px;
}
.fourCase .dbmoreItem {
    padding-bottom: 25px;
        width: 333px;
}
.fourCase .texing1 {
    background-color: #FFFFFF;
    min-height: 361px;
    border: 1px #F3F3F3 solid;
    box-shadow: 0 0 10px rgba(141,141,140,1.2);
    -webkit-box-shadow: 0 0 10px rgba(141,141,140,1.2);
    -moz-box-shadow: 0 0 108px rgba(141,141,140,1.2);
    text-align: left;
}
.fourCase .texing1 img {
    position: relative;
    display: block;
    width: 100%;
    height: 260px;
}
.fourCase .gongneng-name {
    font-size: 24px;
    font-weight: 500;
    padding-left: 0px;
    color: #000000;
}
.fourCase .gongneng-span-name {
    padding: 10px 10px 10px 10px;
    max-width: 518px;
}
.fourCase  .span-name2 {
    color: #737373;
    font-size: 15px;
    line-height: 28px;
}
			
			
.footer1{
	padding-top: 85px;
	padding-bottom: 5px;
	background-color: #040404;
	
}
.footer1 .des p{
	color: #777777 ;
	font-size: 16px;
}
.footer1 .des a{
	color: #f1f1f1;
	font-size: 16px;
}

.footer1hzhb{
	text-align: center;
}
.footer1hzhb img{
	margin-right: 10px;
	margin-bottom: 20px;
}

.footer2{
	background-color: #040404;
	line-height: 70px;
	text-align: center;
	font-size: 16px;
	color: #777777;
}
#box{width:100%;height:602px;float:left;overflow:hidden;position:relative;}
#box .bg{width:100%;height:340px;background:#000;filter:alpha(opacity=70); opacity:0.7; position:absolute; top:132px; left:0px;}
#box .bg{width:100%;height:340px;background:#000;filter:alpha(opacity=70); opacity:0.7; position:absolute; top:132px; left:0px;}
#list{width:100%;height:446px;position:absolute;top:75px;left:0;display:inline;}
#list ul {margin:0px;padding:0px; float:left;}
#list li{width:100px;position:absolute;list-style-type:none;overflow:hidden;cursor:pointer;}
#list li img{width:100%;height:100%;vertical-align:top;}
#list li div{width:100%;height:100%;background:#000;filter:alpha(opacity=70); opacity:0.7; position:absolute; z-index:1; top:0px; left:0px;}
#list li .b_tit{width:100%;height:120px;position:absolute; z-index:1; bottom:-100%; left:0px;margin:0px;padding:0px;}
#list li .opacity{width:100%;height:120px;background:#000;filter:alpha(opacity=80); opacity:0.8; position:absolute; z-index:1; bottom:0px; left:0px;}
#list li .tit{width:324px;height:120px;padding:0 10px;position:absolute; z-index:2; bottom:0px; left:0px;}
#list li .tit span{width:100%;height:30px;font-weight:normal;float:left;text-align:left;line-height:30px;color:#fff;border-bottom:1px solid #2f2f2c;margin:0px;padding:0px;}
#list li .tit span em{color:#ba0707;font-style:normal;float:none;}
#list li .tit em{color:#fff;line-height:25px;float:left;margin:0px;padding:5px 0;font-style:normal;}
#list a{width:39px;height:80px;background:url(../img/demo/btn.png) no-repeat;text-decoration:none;position:absolute;z-index:20;top:220px;}
#list a.prev{ background-image: url(../img/left.png); left:0px;}
#list a.next{ background-image: url(../img/right.png);  right:0px;}


.nav-wrap{
margin:0px auto;
}

/* Clearfix */
.group:after{visibility:hidden;display:block;content:"";clear:both;height:0}
*:first-child+html .group{zoom:1} /* IE7 */

/* Example One */
#example-one{text-align:right;margin:0 auto;list-style:none;position:relative;}
#example-one li{display:inline-block}
#example-one a{color:#bbb;font-size:14px;float:left;padding:6px 10px 4px 10px;text-decoration:none;text-transform:uppercase}
#example-one a:hover{color:white}
#magic-line{position:absolute;bottom:-2px;left:0;width:100px;height:2px;background:#FFF}
.current_page_item a{color:white !important}

.oneFeature-mobile{display: none;}

.what, .who, .getStarted {

    text-align: center;
    color: #4C4C4E;
}
.what h2, .who h2, .one-engine h2, .high-end h2, .getStarted h2, .download h2 {
    text-transform: uppercase;
    font-size: 2.25em;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: .75em;
    color: #414141;
}
.what p, .who p, .one-engine p, .high-end p, .getStarted p, .download p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}
.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: 0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.bx-wrapper .bx-viewport {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.sliderImage {
    height: 100%;
    width: 850px;
    margin: 0 auto;
}
.sliderInfo {
    padding-top: 1em;
    margin-top: 30px;
}

.sliderInfo h3 {
    font-weight: 700;
    font-size: 1.25em;
    text-transform: none;
    margin-bottom: 1.25em;
}
.carousel-caption {
    right: inherit;
    left: 10%;
    top: 24%;
    padding-bottom: 30px;
    text-align: left;
    color: #FFFFFF;
}
.carousel-caption h1{
	font-size: 2.25em;
	position: absolute;
	width: 200px;
}
.carousel-caption h3{
    font-size: 1.1em;
	position: absolute;
	top: 80px;
	width: 360px;
}
.carousel-caption h4{
	margin-top: 30px;
	position: absolute;
	width: 250px;
	top: 130px;
}
.carousel-caption h4 .alink {
    font-size: 20px;
}
.carousel-control img{
	width: 50px;
	height: 50px;	
}
.carousel-control.left{
	width: 40px;
    right: 160px;
    left: inherit;
    height: 0px;
    bottom: 115px;
    top: inherit;
}
.carousel-control.right{
    width: 40px;
    right: 90px;
    left: inherit;
    height: 0px;
    bottom: 115px;
    top: inherit;
}
.shard {
    width: 900px;
    height: 2000px;
    background: #222c37;
    background: rgba(34,44,55,0.7);
    position: absolute;
    top: -170px;
    left: 190px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    transform-origin: top right;
}
.demoWin{
	cursor: pointer;
}
@media only screen and (max-width: 767px){
	body{
		min-width:inherit;
	}
	.headerDark{
		position: relative;
		margin-bottom: 15px;
		background-color: #000;
	}
	.headerDark .logo {
	    width: 125px;
	    margin-left: 10px;
	}
	
	.headerDark .authentication{
		display: none;
	}
	.headerDark nav ul li{
		display: block;
		margin-left: 10px;
	}
	.downDisplay{
		display: block;
		margin-top: 0;
		text-align: center;
	}
	.downDisplay a button{
		width: 130px;
		height: 40px;
		margin-right: 0px;
	}
	.bgPattern{
	    background-color: rgba(201, 211, 214, 0.3);
	}
	.vCenter {
	    text-align: left;
	    padding-left: 20px;
    }
	.videoSec h1 {
	    margin: 0px 0 10px;
	    font-size: 18px;
	}
	.vCenter .des {
	    margin-bottom: 0px;
	    font-size: 14px;
	}
	.vCenter .des p {
	    margin-bottom: 5px;
	}
	.btnPlay{
		margin-top: 20px;
	}
	.twoThree img{
		width: 90%;
	}
	.fourCase img{
		width: 90%;
	}
	.fourCase p{
		font-size: 14px;
	}
	.fourCase .dbmoreItem {
	    padding-bottom: 25px;
	        width: 100%;
	}
	#box {
	    height: 380px;
	}
	.twoThree .des {
	    margin: 60px 0 60px 0;
	    color: #797979;
	    font-size: 14px;
	}
	.oneFeature{
		display: none;
	}
	.oneFeature-mobile{
		display: block;
	}
	#magic-line {
	    background: none;
	}
	.sliderImage {
    width: 100%!important;}
    .carousel-caption{
	    -moz-transform: scale(0.7,0.7);
	    -webkit-transform: scale(0.7,0.7);
	    -o-transform: scale(0.7,0.7);
	    transform: scale(0.7,0.7);
	    right: inherit;
	    left: 5%;
	    top: -10px;
	    padding-bottom: 30px;
	    text-align: left;
	    color: #FFFFFF;
    }
	.carousel-control.left {
	    width: 40px;
	    right: 80px;
	    left: inherit;
	    height: 0px;
	    bottom: 57px;
	    top: inherit;
	}
	.carousel-control.right {
	    width: 40px;
	    right: 20px;
	    left: inherit;
	    height: 0px;
	    bottom: 57px;
	    top: inherit;
	}
	.carousel-caption h3 {
	    width: 223px;
	}
	.shard{
		width: 263px;
    	height: 960px
	}
}

@media (min-width: 992px)
	body{
		min-width:inherit;
	}

}
